@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-link {
    @apply text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0 border-b-2 border-b-transparent hover:border-b-gray-700 transition-all;
  }

  .carousel-indicator-btn {
    @apply !p-1 md:!p-1.5 lg:!p-2 !h-auto !w-auto rounded-circle;
  }

  .custom-btn {
    @apply px-10 py-2.5 bg-white text-paste-500 font-bold border border-white rounded-md hover:bg-paste-500 hover:text-white transition-colors;
  }

  .package-btn {
    @apply px-16 py-3.5 text-tiny text-paste-500 font-bold rounded-full bg-paste-400/10 hover:bg-paste-400/50 transition-colors;
  }

  .hot-package {
    @apply relative bg-[url('../../images/icons/watermark.svg')] bg-no-repeat bg-115p bg-paste-500 !px-7 !py-10 rounded-3xl shadow-3xl xl:-translate-y-13p after:content-['Hot'] after:absolute after:-top-3p after:right-10p after:px-2.5 after:py-1 after:bg-red-500 after:text-white after:text-sm after:rounded-full after:border-none after:shadow-lg;
  }

  .hot-package h2,
  .hot-package h3,
  .hot-package p,
  .hot-package ul {
    @apply !text-white;
  }

  .hot-package img {
    @apply content-[url('../../images/icons/check-circle-white.png')];
  }

  .hot-package .package-btn {
    @apply bg-white text-paste-500 w-full border border-white hover:bg-paste-500 hover:text-white transition-colors;
  }
}
